.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.menu-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-tool-bar{
  display: flex;
  justify-content: space-between;
}