.error-404{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

mat-icon{
    color: yellow;
    font-size: 100px;
    height: 100px;
    width: 100px;
}