.full-width-table {
  width: 100%;
}
.custom-navigation {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;
  mat-icon {
    font-size: 24px;
  }
  a {
    padding-left: 10px;
  }
}
.custom-navigation:hover {
  background: #494949;
}
mat-expansion-panel {
  margin-bottom: 5px;
  box-shadow: none;
  mat-panel-title {
    mat-icon {
      font-size: 24px;
    }
    a {
      padding-left: 10px;
    }
  }
}

:host::ng-deep mat-expansion-panel-header {
  padding: 0px 10px !important;
}
