.user-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  .user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  h3 {
    font-weight: 600;
  }
  margin-bottom: 30px;
}
